// 顶部菜单栏高度
@header-height: 40px;


// ========================================================

// 低部菜单栏高度
@footerBoxHeight: 80px;

// 画布高度
@contentBoxHeight: calc(100vh - @header-height - @footerBoxHeight);
@panelHeight: calc(100vh - @header-height);
// layout边距
@contentLayoutPadding: 15px;

// 辅助线宽高
@rulerHeight: 30px;

// 左侧菜单栏内容区宽度
@leftPanelWidth: 328px;

// 右侧面板宽度
@RightPanelWidth: 280px;
